      .header{
          background-color: #5f9ea0;
          border: 5px solid;
      }

      .body{
          background-color: #add8e6;
          border: 2px solid;
          border-radius: 50px;
      }

      .facts{
        background-color: #7fffd4;
        border: 2px solid;
        border-radius: 30px;
        margin: 50px;
      }

      .title{
        margin: 25px;
      }

      a:link{
        color: #000000;
      }

      a:visited{
        color: #00bfff;
      }

      .facts:hover{
        transform: scale(1.05);
      }
 